    <div class="flex-row">
      <span style="text-align: center;"> {{title}}</span>
    </div>
    <div class="graph-container">
      <div class="graph" *ngIf="barChartData">
        <button mat-button color="primary" (click)="buttonClick('+')"
          style="height: 100%; min-width: 90px; font-size: 20px;" matTooltip="अघिल्लाे बर्प" matTooltipPosition="left">
          {{leftButtonCaption}} </button>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
        <button mat-button color="primary" (click)="buttonClick('-')"
          style="height: 100%;  min-width: 90px; font-size: 20px;" matTooltip="पछिल्लाे बर्प" matTooltipPosition="right">
          {{rightButtonCaption}} </button>
      </div>
    </div>