<div fxLayout="row" fxLayoutAlign="space-between none" class="page-header">
    <button mat-raised-button mat-icon-button mat-card-avatar id="back"
      matTooltip="Back" matTooltipPosition="above"
      matTooltipShowDelay="300" [disabled]="parent.parentId==null" (click)="onButtonClicked({event:'back', parentId: parent.parentId})">
    </button>
    <div class="title" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="none start" fxLayoutAlign.gt-xs="start center" 
      matTooltip="अनुसुचीकाे टाइटल [{{parent.name}}]" matTooltipPosition="below" matTooltipShowDelay="300">
      <span ngClass.xs="parent-label-xs" ngClass.gt-xs="parent-label"> अनुसुची ४ <strong>{{parent.name}}</strong> अन्तर्गत </span>
      <!-- <span ngClass.xs="parent-name-xs" ngClass.gt-xs="parent-name"><strong>{{parent.name}}</strong></span> -->
    </div>
    <button  mat-raised-button mat-icon-button class="pullright" id="new"
      matTooltip="Create New" (click)="onButtonClicked({event:'new', parentId: parent.id})"
      matTooltipPosition="left" matTooltipShowDelay="300">
      <mat-icon>add</mat-icon>
    </button>
</div>

<app-rate-card [rates]="childs" (buttonClicked)="onButtonClicked($event)"></app-rate-card>