<div class="body-container">
    <form #formData='ngForm' class="change-password-form" novalidate [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">
  
      <div class="avatar-container">
        <button type="button" mat-icon-button mat-card-avatar class="login-avatar pull-right" [ngStyle]="{'background-image': 'url('+ currentUrl +')'}">
        </button>
        <br>
        <span>
          <h2>{{label.welcome}}</h2>
        </span>
      </div>
  

    
      <div class="flex-row">
          <mat-form-field class="item">
            <input #oldPassword matInput placeholder={{placeHolder.oldPassword}} 
            [type]="changeNewPW ? 'password' : 'text'" (blur)="changeNewPW=true;"
             formControlName="oldPassword" autocomplete="off">
             <mat-icon matSuffix (click)="changeNewPW = !changeNewPW">{{changeNewPW ? 'visibility' :
                'visibility_off'}}</mat-icon>
            <mat-error>{{errorLabel.password}}</mat-error>
            <mat-hint>
              <strong> {{hintLabel.oldPassword}} </strong>
            </mat-hint>
          </mat-form-field>
      </div>

      <div class="flex-row">
        <mat-form-field class="item">
          <input matInput placeholder={{placeHolder.newPassword}} 
          [type]="changeOldPW ? 'password' : 'text'" (blur)="changeOldPW=true;"
          formControlName="newPassword" autocomplete="off">
          <mat-icon matSuffix (click)="changeOldPW = !changeOldPW">{{changeOldPW ? 'visibility' :
              'visibility_off'}}</mat-icon>
          <mat-error>{{errorLabel.password}}</mat-error>
          <mat-hint>
            <strong> {{hintLabel.newPassword}} </strong>
          </mat-hint>
        </mat-form-field>
      </div>
  
      <div style="display:flex;">
        <div class="item">
          <button mat-raised-button color="primary" style="width:100px;">
            {{placeHolder.save}}</button>
          <!-- <span class="small-note" *ngIf="!changePasswordForm.valid">
            {{label.changeNote}}
          </span> -->
        </div>
      </div>
    </form>
  
  
    <!-- <div class="right-side-info">
      <div class="right-side-info-background" [ngStyle]="{'background-image': 'url('+ infoBackgroundUrl +')'}">
        <mat-card class="right-side-info-text" style="width:100%; text-align:center;">
          <h3> {{label.point0}} </h3>
          <span style="text-align: left">
            <h4>{{label.point1}}</h4>
          </span>
        </mat-card>
        <div class="right-side-info-background-transparent" [ngStyle]="{'background-image': 'url('+ infoTransparentUrl +')'}">
        </div>
      </div>
    </div> -->
  </div>