<div class="slide-pane-container">
    <app-slide-panel [activePane]="isLeftVisible ? 'left' : 'right'">
        <div leftpane>
            <div class="wrapper">
                <div class="left" fxHide fxShow.gt-xs>
                    <app-param-user-tree #tree (nodeClicked)="onTreeNodeClicked($event)"></app-param-user-tree>
                </div>
                <div class="right">
                    <app-param-user-details #details (buttonClicked)="onButtonClicked($event)"></app-param-user-details>                 
                </div>
            </div>
        </div>
        <div rightpane>
            <app-param-user-create #createForm (buttonClicked)="onButtonClicked($event)"></app-param-user-create>         
        </div>
    </app-slide-panel>
</div>